body{
  padding:140px;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
/*.random-quoter{
  padding-top:20px;
  background-color: rgba(0, 0, 0, 0.8);
  max-width: 800px;
  height: 350px;
  margin:auto;
}*/

.quote-box{
  padding-top:10px;
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 500px;
  height: 200px;
  margin:auto;
}

.icon{
  width:250px;
  height:100px;
  margin :auto;
  color:white;
}
#quoteGen {
  display: inline-block;
  margin: 0 auto;
}
#quoteGen:hover {
  color: #1b95e0;
  cursor: pointer;
}
#twitter_share{
   display: inline-block;
  margin: 0 auto;
}

#twitter_share:hover {
  color: #1b95e0;
  cursor: pointer;
}

#quote,#character {
  padding-top: 20px;
  color: black;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  color:white;
}

footer{
  text-align:center;
  color:black;
  padding:5px;
  background: rgba(192, 192, 192, 0.9);
}
